

/* BASE EDITING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
.App{
  min-height: 100vh;
  width: 100vw;
  max-width: 1900px;
  margin: 0rem auto;
}
/* body{
  max-width: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(#590505, #8c2424);
} */

/* HEADINGS */
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: white; /* Change text color to white */
  max-width: 600px;
  font-family: 'Horizon';
}
h3 {
  font-size: 2rem;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: white; /* Change text color to white */
  margin: 1rem 0rem;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: white; /* Change button background color to white */
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: black; /* Change button text color to black */
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat-Bold';
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: rgb(234, 234, 234);
}
/* NAVBAR CSS STYLING */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  padding-left: 1rem;
  background-color: #480303;
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container {
  display: flex;
  align-items: center;
}

.navbar-links-container a {
  margin-right: 2rem;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Montserrat-Bold';
}

.primary-button {
  padding: 0.8rem 2.5rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  color: black;
  margin-right: 1rem;
  font-family: 'Montserrat-Bold';
}

.navbar-cart-icon {
  font-size: 1.15rem;
  color: white;
}

.nav-logo-container {
  font-family: 'Horizon';
  color: white;
  font-size: 2rem;
  padding-left: 1rem;
}

.primary-button:hover {
  background-color: rgb(192, 190, 190);
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  
  .navbar-links-container {
    display: none;
  }
  
  .navbar-menu-container {
    display: flex;
  }
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  
  .primary-button {
    font-size: 1rem;
  }
  
  .home-banner-image-container {
    max-width: 600px;
  }
}


/* HOME SECTION CSS */
.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}
.home-bannerImage-container {
  position: absolute;
  top: -200px;
  right: -170px;
  z-index: -5;
  max-width: 100%;
}
.home-image-section {
  position: relative;
  flex: 1;
  border-collapse: separate;
  object-fit:contain;
  overflow: hidden;
  border-radius: 100%;
  width: 100%;
  right:3rem;
}
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:start;
  z-index: 3;
  text-align: left;
}
.home-text-section h1{
  text-align: left;
}
.home-text-section p{
  text-align: left;
  align-self: flex-start;
}
.home-text-section button{
  align-self: flex-start;
}


/* ABOUT SECTION CSS STYLING */
.about-section-container {
  margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 55rem;
  align-items:start;
}

.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}
#about-section-heading {
  margin-right: 7rem;
}
.about-section-carousel {
  flex: 0.9;
  margin-right: 3rem;
  height:100%;
}

.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex-end;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 6rem;
}
.about-section-text-container h1{
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.about-section-text-container p{
  margin-top: 2rem;
  margin-bottom:2rem;
}
.primary-subheading {
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
  text-align: center;
}

.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}

.watch-video-button {
  margin-left: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-video-button svg {
  font-size: 3rem;
  margin-right: 1rem;
}
.about-section-carousel {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
  height: 100%;
}


/* CONTACT SECTION CSS */
.contact-page-wrapper h1 {
  max-width: 900px !important;
}

.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}

.contact-form-container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
}

.contact-form-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  max-width: 100%;
  font-size: 1rem !important;
  padding: 0.5rem 1rem !important;
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
  text-align: center;
  font-family: 'Montserrat-Regular';
}


.contact-heading{
  font-family: 'Horizon';
  text-align: center;
  color: white;
}
.contact-page-wrapper
.footer-wrapper {
  flex-direction: column;
}

/* FOOTER CSS STYLE */
.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 10rem;
}

.footer-logo-container {
  max-width: 450px;
  font-family: 'Horizon';
  text-align: center;
  color: white;
}

.footer-icons {
  margin-top: 1rem;
}

.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}

/* .footer-section-one {
  border: 2px solid blue;
} */

.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}

.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: white; /* Change text color to white */
  cursor: pointer;
}

/* TESTIMONIAL SECTION CSS */
.testimonial-section-bottom {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
}

.testimonial-section-bottom {
  margin: 2rem auto;
}

.testimonial-section-bottom h1 {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.6rem;
  margin: 2rem 0rem;
}

.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
}

.testimonial-section-bottom h2 {
  width: 100%;
  margin-top: 1.5rem;
  text-align: right;
}

/* WORK SECTION CSS */
.work-section-wrapper {
  margin-top: 5rem;
}

.work-section-top p {
  text-align: center;
  max-width: 600px !important;
}

.work-section-top h1 {
  max-width: 700px !important;
  text-align: center;
}

.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sponsor-info {
  width: 33%;
  max-width: 300px;
  min-width: 150px;
  min-height: 300px;
  max-height: 450px;
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}

.work-section-info h2 {
  font-family: 'Horizon';
  font-size: 1.5rem;
  width: 100%;
  max-height: 30%;
}

.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work-section-info p {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

@media (max-width: 1000px) {
  
  .primary-button {
    font-size: 1rem;
  }

  .home-bannerImage-container {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  

  .home-bannerImage-container {
    max-width: 450px;
  }

  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .about-section-container {
    flex-direction: column;
  }

  

  .primary-heading {
    text-align: center;
    max-width: 90%;
  }

  .primary-text {
    text-align: center;
    max-width: 80%;
  }

  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
    font-family: 'Montserrat-Bold';
  }

  .about-section-container {
    margin-top: 5rem !important;
  }

  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }

  .primary-subheading {
    text-align: center;
  }

  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }

  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }

  .about-section-image-container {
    margin-right: 0rem !important;
  }

  .work-section-wrapper {
    margin-top: 5rem !important;
  }

  .work-section-bottom {
    margin-top: 1rem !important;
  }

  

  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }

  .footer-section-columns {
    margin: 1rem 0rem;
  }

  .App {
    max-width: 95vw;
  }
}

@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}
